.font__mont--bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.font__mont--regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.font__mont--light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
