.search__input[type='text'] {
  margin: auto !important;
  font-size: 40px !important;
  text-align: center !important;
  border-radius: 100px !important;
  border-width: 1px !important;
  border-style: solid !important;
  background-color: white !important;
  transition: all 500ms !important;
}

.search__input[type='text']:focus {
  box-shadow: none !important;
  outline: none !important;
}

.search__input--failed {
  border-color: red !important;
}

.search__input--success {
  border-color: lightgrey !important;
}

.search__input__icon {
  font-size: 35px;
  margin-left: 10px;
  color: gray;
}

.search__input__warning {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  animation-name: intro;
  animation-duration: 1s;
}

@keyframes intro {
  from {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
}
