.search__bar {
  background-color: white;
  border-radius: 40px;
  transition: all 600ms;
}

.search__bar--error {
  border: 1px solid red;
}

.search__bar__form {
  margin: 0;
  padding: 0.4em;
}

.search__bar__input {
  display: block;
  margin: auto;
  border: 0;
  background-color: white;
  width: 100%;
  border-radius: 40px;
  height: 100%;
}

.search__bar__input:active {
  border: 0;
  outline: none;
}

.search__bar__input:focus {
  border: 0;
  outline: none;
}

.search__bar__icon {
  color: red;
  width: fit-content;
  text-align: right;
}

.search__error__message {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 20px 40px;
  transform: translateX(-50%);
  animation: intro-error 800ms;
  animation-fill-mode: forwards;
  border-radius: 40px;
  animation-timing-function: ease-in-out;
  width: 50%;
}

@keyframes intro-error {
  0% {
    top: -10%;
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    top: 0%;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media screen and (max-width: 500px) {
  .search__error__message {
    width: 100%;
  }
}
